:root {
    --blue: #0097C6;
    --yellow: #FEE121;
    --orange: #FF7B41;
    --black: #404A54;
    --light-blue: #6FACBA;

    --nav-font: Quicksand;
    --header-font: Merriweather Sans;
    --body-font: Garamond;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    position: relative;
    color: var(--black);
    font-family: var(--sub-font);
    padding: 0;
    margin: 0;
    line-height: 1.351;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: var(--purple);
}

a:visited {
    color: var(--visited);
}

a:hover {
    text-decoration: underline;
}


header {
    grid-area: header;
    display: flex;
    flex-direction: column-reverse;
    letter-spacing: 1.3px; 
    height: 70vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6em;
}

header:before {
    content: '';
    background-image: url("images/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 40%;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -999;
    opacity: .4;
    width: 100%;
    height: 80vh;
}

#main {
    display: grid;
    position: relative;
    grid-template-areas:
    "header"
    "content"
    "footer";
    font-family: var(--body-font);
    font-size: 1.6em;
    margin: 0 auto;
    width: 67%;
    padding-top: 150px;
    /* text-align: justify; */
}
 #title {
    width: 100vw;
    text-align: center;
    font-family: var(--header-font);
    font-size: 1.3em;
    color: var(--black);
}

nav {
    font-family: var(--nav-font);    
    font-size: .6em;
    position: absolute;
    top: 0;
    right: 15%;
    text-align: center;
}

li {
    list-style: none;
    padding: 0 10px;
    display: inline-block;
}

.sectionTitle {
    font-family: var(--header-font);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.horizontal-line {
    position: relative;
    top: -20px;
}

.top, .bottom {
    border-top: 2px solid #ccc;
    margin: 0 auto;
}

.top {
    width: 50px;
}

.bottom {
    width: 90px;
    margin-top: 4px;
}

.content p {
    margin-top: -7px;
}

.content:before {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: var(--header-font);
    font-weight: 700;
    font-size: 10rem;
    opacity: .13;
    color: var(--blue);
    z-index: -999;
}

#profilePhoto {
    float: left;
    width: 38%;
    margin: 10px 20px 6px 0px;
}

#storyPhoto{
    float: right;
}

.articleImages {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    margin: 0 auto;
}

.articleImages img {
    width: 100%;
    padding: 13px;
    opacity: .6;
    transition: opacity 300ms;
}

.articleImages img:hover {
    opacity: 1;
    border: none;
}

p:first-letter {
    font-size: 3rem;
}

blockquote{
    display: flex;
    width: 90%;
    opacity: .8;
    font-style: italic;
    font-size: 3rem;
    padding: 70px 0;
    margin: 140px auto 70px auto;
    border-top: 1px dotted rgb(44, 44, 44);
    border-bottom: 1px dotted  rgb(44, 44, 44);
}

blockquote:before {
    content: open-quote;
}

.toTop {
    display: block;
    text-align: right;
    font-size: 1rem;
    letter-spacing: 1px;
    width: auto;
    height: auto;
    color: #fff;
}

.toTop a {
    background-color: var(--orange);
    padding: 10px;    
     opacity: .92;
    border-radius: 2px;
}

.toTop a:hover {
    text-decoration: none;
    opacity: 1;
}

footer {
    display: flex;
    margin-top: 300px;
    justify-content: center;
}

